/* dark mode toggle button css */
/* =============================================== */
* { transition: background-color 0.3s ease;}

[data-bs-theme=dark], .bs-body-bg-rgb { --bs-body-bg: #0C0C0C !important; }

.checkbox-label { display: inline-block;  position: relative;  width: 60px;  height: 34px;  background-color: #111;  border-radius: 34px; cursor: pointer; }

.checkbox { display: none; }

.ball { position: absolute; top: 2px; left: 2px; width: 30px; height: 30px; background-color: #ffffff17; border-radius: 50%;  transition: transform 0.2s ease; }

.checkbox:checked+.checkbox-label .ball { transform: translateX(26px);}

.fas { position: absolute; top: 50%; transform: translateY(-50%); color: white; font-size: 18px;}

.fa-moon { right: 8px;}
.fa-sun { left: 8px;} 
/* =============================================== */
/* dark mode toggle button css */